<configuration>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}" />

    <!--appender name="console" -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">

        </encoder>

    </appender>

    <logger name="io.netty">
        <level value="error" />
    </logger>

    <logger name="io.grpc.netty">
        <level value="warn" />
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="console" />
    </root>
</configuration>